<%- include('partials/header.ejs')%> <%- include('partials/navbar.ejs')%>
<main class="blog-page">
  <div
    class="img-background"
    style="background-image: url('<%=blog.imageUrl%>')"
  >
    <div class="img-filter">
      <img src="<%=blog.imageUrl%>" alt="" class="img-image" />
      <div class="img-data">
        <h2><%=blog.title%></h2>
        <p class="img-description"><%=blog.description%></p>
        <div style="display: flex; color: white; gap: 10px">
          view:
          <p class="img-view"><%=blog.view%></p>
        </div>

        <a href="/othersblogs/<%=blog.bloggerId%>">
          <div style="display: flex; color: white; gap: 10px">
            by:
            <img src="<%=blog.bloggerAvatar%>" alt="avatar" class="blog-icon" />
            <p class="img-view"><%=blog.bloggerName%></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="comment-section">
    <form action="/api/comment/create" class="comment-form" method="post">
      <input type="text" hidden value="<%=blog._id%>" />
      <input type="text" required placeholder="enter comment" />
      <button type="submit">comment</button>
    </form>
    <div class="comment-box">
      <% if (comments && comments.length > 0) { comments.forEach(comment => {%>
      <div class="comment-card">
        <div class="comment-header">
          <img
            src="<%=comment.commenterAvatar%>"
            alt="comenter"
            class="blog-icon"
          />
          <p><%=comment.commenterName%></p>
        </div>
        <div class="comment-content"><%=comment.content%></div>
      </div>
      <% });} else {%>
      <p>No comment found</p>
      <% } %>
    </div>
  </div>
</main>
<%- include('partials/footer.ejs')%>
